html, body {
    overflow: hidden;
    height: 100%;
    scrollbar-width: none;
}
a { text-decoration: none; color: black; }
/** default layout **/
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: red;
  }
  .left-btns{
    display: flex;  
    justify-content: flex-start; 
    align-items: center;
    gap: 20px;
  }
  
  .right-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    align-content: center;  
    flex-direction: row;
    height: 10vh;
    background-color: rgb(208, 236, 243);
    padding: 0 20px;
    overflow-x: visible;
  }
  .btn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
    margin: 10px;
    width: 10vw;
    border: none;
    text-overflow: hidden;
    white-space: nowrap;
  }
  .btn-link:focus {
      border-bottom: 2px solid #166bad;
  }
  .btn-link:hover {
     box-shadow: 0 0 5px rgba(214, 227, 240, 0.5);
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 10vh;
    left: 0;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/736x/e6/7d/af/e67daf68a6e8f6d4a9283cb7d64b098c.jpg");
  }
/**************
containers 
***************/
.new-menu-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  background-color: azure;
  border-radius: 10px;
  width: 60vw;
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    background-color: azure;
    border-radius: 10px 10px 10px 10px;
    width: 40vw;
    max-height: 90vh;
    overflow: auto;
    
}
.page-container{    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90vh;
    top: 0;
    left: 5vh;
    right: 5vh; 
    overflow: scroll;
    background-color: rgb(233, 235, 238);
}
.container-body{
    position: relative;   
    height: 100%;
    width: 100%; 
    top: 12vh;
    left: 0;
    margin: 10px 10px;
    border-radius: 10px 10px 0 0;
}
.container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 10px;
    font-size: 24px;
    background-color: green;
    color: white;
    width: 100%;
    top: 0;
    height: 10vh;
}
.title-text{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    height: 100vh;
    border-radius: 10px 10px 0 0;
}
.sections{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 10vh;
}
/**************
*** sections 
****************/
.section-container{
    width: 100%;
}
.section-name{
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 25px;
    height: 45px;
    color:black;
    border-bottom: 2px solid black;
}
.section-description{
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 12px;
    margin-left: 40px;
}
.section-items{   
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-items: center;
    width: 82vw;
    margin: 5px;
    gap: 15px;
}

/**************
*** items 
****************/
.item-container{
    width: 40vw;
    border-radius: 15px;
    box-sizing: border-box;
    border: 2px solid black;
}
/* item title classes */

.btn-icons-group.items{
    position: relative;
}
.item-description{
    font-size: 12px;
    height: 10vh;
    margin: 0 10px 0 15px;
    overflow: hidden;
}
/***
    floating text field
***/
.floating-text-field{
    position: relative;
}
.floating-text-field label{ /*no focus */
    position: absolute;
    transition: 0.2s ease all;
    pointer-events: none; 
}
.floating-text-field input{
    font-size: 16px;
    padding: 20px 10px 10px 15px;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    background-color: white;
    border: 2px solid rgb(96, 97, 97);
    border-radius: 5px;
}
.floating-text-field input:placeholder-shown + label{
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 18px;
    color: #aaaa;
    transition: 0.2s ease all;
}
.floating-text-field input:hover + label{
    cursor: text;
}
.floating-text-field input:focus + label,
.floating-text-field input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #5264ae; 
    background-color: white; 
}
/*** end floating input **/

.text-field.description textarea{
    height: 10vh;
    width: auto;
    min-width: 90%;
}
.tab-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 40vw;
}
.item-title{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    align-content: center;  
    flex-direction: row;
    margin: 6px 0;
    width: 100%;
}
.button-name{
    display: flex;  
    justify-content: flex-start; 
    align-items: center;
}
.item-price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 7px;
}
.text-field.item-name input{
    width: 100%;
}
.item-name{
    width: 100%;
}
.item-price{
    display: inline-flex;
    align-items: center;
}
.item-title .addon{
    border: 2px;
}
.form-container{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.form-title{
    padding: 10px;
    height: 8vh;
    font-size: large;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid black;
    background-color: rgb(180, 175, 175);
}
.form-field{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form-actions{
    margin: 10px 0 5px 20px;
}
/********
    item 
        addon-removes-options classes 
********/
.item-a-r-o-titles{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0px 15px; 
}
.item-a-r-o-components{
    display: flex;
    align-items: center;  
}

/***************
    Input Formatting
*****************/

.container-actions{
    padding: 0 10px;
    gap: 10px;
}
.text-field{
    display: flex;
    align-items: center;
    gap: 12px;
}
.text-field input, .text-field textarea{
    padding: 0px 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    resize: none;
    background-color: white;
  }
.text-field input:focus, .text-field textarea:focus{
    outline: none;
    border-color: #1976d2;
    box-shadow: rgba(25, 118, 210, 0.5);
}
.placeholder-color{
    color: #999;
}
.error-text{
  color: red;
}
  /****************
    Buttons
  ****************/
  
.btn {
    display: inline-block;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}
.btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.btn:hover {    
    background-color: #d3dce3;
}
.btn-text:hover .tooltip{
    opacity: 1;
    visibility: visible;
}
.btn:hover .tooltip{
    opacity: 1;
    visibility: visible;
}
.btn-icons-group{
    position: absolute;
    right: 0;
    font-size: 18px;
}
.btn.register{
    margin: 0 10px;
    border: 2px solid black;
  }
  .btn:disabled{
    color: #aaaa;
    border: 2px solid #aaaa;
  }
/****************
   tooltip 
 ****************/
.tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    z-index: 10;
}
/***************
    addon/remove/options
***************/

.tab-row{
    display: flex;
    align-items: center;
    width: 100%;
}
.tab-name{
    display: flex;
    align-items: center;
    width: 100%;
}
.tab-price{
    flex: 1;
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
    width: 75px;
}
.option-value{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*toggle button*/
.toggle {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 25px;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    top: 2px;
  }
  .toggle:hover{
    background-color: rgb(248, 238, 238);
    border-radius: 7px;
  }
  .toggle-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .toggle-text span {
    display: block;
    width: 100%;
    line-height: 40px;
    transition: transform 0.4s ease;
    position: absolute;
    top: -5px;
  }
  .toggle-text span.open {
    transform: slideX(180deg);
  }
  .toggle-text span:not(.open) {
    transform: rotateY(0deg);
  }
  .slide-fade-enter-active {
    animation: slide-in 0.5s;
  }
  .slide-fade-leave-active {
    animation: slide-out 0.4s;
  }
  .slide-fade-enter-from{
    opacity: 1;
    transform: translateX(-50px);
  }
  .slide-fade-leave-to {
    transform: translateX(50px);
    opacity: 1;
  }
  @keyframes slide-in {
    25%{
      transform: translateX(-60px);
    }
    50%{
      transform: translateX(-45px);
    }
    75% {
      transform: translateX(-30px);
    }
    100% {
      transform: translateX(-15px);
    }
  }
    @keyframes slide-out {
    0% {
      transform: translateX(0px);
    }
    25%{
      transform: translateX(15px);
    }
    50% {
      transform: translateX(30px);
    }
    75%{
      transform: translateX(45px);
    }
    100% {
      transform: translateX(60px);
    }
  }

@media (max-width: 740px) {
    .page-container {
        left: 0;
        right:0;
    }
    .left-btns{
        gap: 0px;
    }
    .new-menu-container{
        width: 100vw;
        height: 90vh;
        border-radius: 0;
    }
    .section-items{   
        width: 100vw;
        margin: 5px;
        gap: 2px;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .item-container{
        width: 60vw;
    }
    .tab-container{
        width: 59vw;
    }
} 