/** default layout **/
html {
    overflow: hidden;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    font-family:'Segoe UI';
    background-color: rgb(46, 12, 85);
}
body {
  overflow: hidden;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family:'Segoe UI';
  background-color: rgb(22, 158, 165);
}
a { text-decoration: none; color: black; }
button{ border: none; font-size: 13px;}
main {
  position: absolute;
  top: 6%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 94vh;
  overflow: auto;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/736x/e6/7d/af/e67daf68a6e8f6d4a9283cb7d64b098c.jpg");
}
@media only screen and (max-width: 700px ){
  main{
    width: 100vw;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  align-content: center;  
  flex-direction: row;
  height: 6%;
  width: 100%;
  background-color: rgb(208, 236, 243);
  overflow-x: scroll;
  scrollbar-width: none;
}
.left-btns{
  display: flex;  
  justify-content: flex-start; 
  align-items: center;
}
.right-btns{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
/**************
page container
***************/
.page-container{
  position: absolute;
  top: 0;
  left: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 94%;
  background-color: rgb(247, 249, 252);
}
.container-body{
  position: absolute;   
  height: 92%;
  width: 100%;
  top: 8%;
  left: 0;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0;
  overflow-y: scroll;
}
.container-title{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0%;
  height: 8%;
  color: white;
  background-color: green;
}
.title-buttons{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.container-title button{
  background-color: transparent;
  border: none;
  color: white;
  text-wrap: nowrap;
}
.container-title button.active{
  border-bottom: 2px solid yellow;
}

/**************
*** Menu 
****************/
.menu-container{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid purple; */
  width: 100%;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 70px;
}
.section-container{
  position: relative;
  left: 0;
  width: 80vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
@media(max-width: 600px){
  .section-container{
      width: 90vw;
  }
}
.section-container button{
  background-color: transparent;
}
.section-name{

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  font-size: 25px;
  height: 45px;
  color:black;
  border-bottom: 2px solid black;
  width: 100%;
  /* border: 1px solid green; */
}
.section-description{
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  font-size: 12px;
  overflow: hidden;
  /* border: 1px solid pink; */
}
@media(max-width:700px){
  .section-description{
    height: 30px;
    overflow: scroll;
  }
}
.section-items{   
  display: grid;
  flex-wrap: wrap;
  margin-left: 60px;
  grid-template-columns: 280px 280px 280px;
  align-content: center;
  flex-direction: row;
  justify-content: start;
  width: 85vw;
  gap: 5px;
  /* border: 1px solid red;   */
}
.item-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 7px;
  color: black;
  width: 280px;
  height: 80px;
  box-sizing: border-box;
  border: 2px solid black;
  overflow: visible;
  background-color: transparent;
}
.item-title{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  align-content: center;  
  flex-direction: row;
  width: 100%;
  height: 20px;
}
.item-name{
  display: flex;
  width: 100%;
  text-wrap: nowrap;
}
.item-price{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 7px;
}
.item-description{
  display: flex;
  position: relative;
  margin: 0 10px 0 15px;
  font-size: 12px;
  text-align: left;
  overflow-y: scroll;
  scrollbar-width: none;
}
.button-name{
  display: flex;  
  justify-content: flex-start; 
  align-items: center;
  position: relative;
  width: 290px;
}
.btn.delete{
  padding: 2px 3px;
  border-radius: 10px;
}
.new-menu-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
}
.tab-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    position: relative;
    width: 275px;
}
/* .item-title .addon{
  border: 2px;
} */
/* forms */
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: azure;
  border-radius: 5px;
}
.form-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  height: 20px;
  font-size: large;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 2px solid black;
  background-color: rgb(180, 175, 175);
}
.form-field{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form-actions{
    margin: 10px 0 5px 20px;
}
/********
    item 
        addon-removes-options classes 
********/

.item-a-r-o-titles{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0px 15px; 
}
.item-a-r-o-components{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  /* border: 1px solid red;
  box-sizing: border-box; */
  width: inherit;
}

/***************
    Input Formatting
*****************/

.container-actions{
  padding: 0 10px;
  gap: 10px;
}
.text-field{
  display: flex;
  align-items: center;
  gap: 12px;
}
.text-field input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
}
.text-field textarea{
  position: relative;
  left: 0;
  font-size: 12px;
  border-radius: 4px;
  height: 55px;
  width: 240px;
  resize: none; 
}
.text-field input:focus, .text-field textarea:focus{
  outline: none;
  border-color: #1976d2;
  background-color: white;
}
.placeholder-color{
  color: #999;
}
.error-text{
  color: red;
}
.underline{
  border-bottom: 2px solid black;
}
  /****************
    Buttons
  ****************/

.btn {
  padding: 0px 5px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  position: relative
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.btn:hover {    
  background-color: #d3dce3;
}
.btn-text:hover .tooltip{
  opacity: 1;
  visibility: visible;
}
.btn:hover .tooltip{
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}
.btn-icons-group{
  position: absolute;
  right: 0;
  font-size: 18px;
  margin-right: 5px;
}
.btn.register{
  margin: 0 10px;
  border: 2px solid black;
}
b:disabled{
  color: #aaaa;
  border: 2px solid #aaaa;
}
  .container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    background-color: azure;
    border-radius: 10px;
    width: 40vw;
    max-height: 90vh;
    overflow: auto;
    
}
/****************
   tooltip 
 ****************/
.tooltip {
    position: absolute;
    top: 100%;
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    z-index: 10;
}
/***************
    addon/remove/options
***************/

.tab-row{
    display: flex;
    align-items: center;
    width: 100%;
}
.tab-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.tab-price{
    flex: 1;
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
    width: 75px;
}
.option-value{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Modal */
.modalWrapper{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}
.modal{
  background-color: white;
  z-index: 1000;
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  border-radius: 10px;
  border: 2px solid black;
  box-sizing: border-box;
}
.modal-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: azure;
  border-radius: 8px;
}
.modal-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  font-size: large;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 2px solid black;
  background-color: rgb(180, 175, 175);
}
.modal-subtitle{
  display: flex;
  font-size: 14px;
  margin: 0 5px;
}
.modal-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  overflow-y: auto;
}
.modal.delete{
  height: 40vh;
  top: 35vh;
  width: 40vw;
  left: 35vw;
}
.qty{
  display: flex;
  flex-direction: row;
}
.qty button{
  font-size: 8px;
  padding: 0 8px;
  border: 1px solid black;
  border-radius: 19px;
}
.qty-text{
  background-color: white;
  border-radius: 18px;
  margin: 0px 3px;
  border: 1px solid black;
  padding: 2px 4px;
}
/*toggle button*/
.toggle {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 25px;
    position: relative;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    top: 2px;
  }
  .toggle:hover{
    background-color: rgb(248, 238, 238);
    border-radius: 7px;
  }
  .toggle-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 0;
  }
  .toggle-text span {
    display: block;
    width: 100%;
    line-height: 40px;
    transition: transform 0.4s ease;
    position: absolute;
    top: -5px;
  }
  .toggle-text span.open {
    transform: slideX(180deg);
  }
  .toggle-text span:not(.open) {
    transform: rotateY(0deg);
  }
  .slide-fade-enter-active {
    animation: slide-in 0.5s;
  }
  .slide-fade-leave-active {
    animation: slide-out 0.4s;
  }
  .slide-fade-enter-from{
    transform: translateX(-50px);
  }
  .slide-fade-leave-to {
    transform: translateX(50px);
  }
@keyframes slide-in {
  25%{
    transform: translateX(-60px);
  }
  50%{
    transform: translateX(-45px);
  }
  75% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(-15px);
  }
}
@keyframes slide-out {
0% {
  transform: translateX(0px);
}
25%{
  transform: translateX(15px);
}
50% {
  transform: translateX(30px);
}
75%{
  transform: translateX(45px);
}
100% {
  transform: translateX(60px);
}
}
@media (max-width: 970px){
  .section-items{
    grid-template-columns: 300px 300px;
  }
  .section-description{
    height: 30px;
  }
}
@media (max-width: 840px){
  .item-container{
    width: 300px;
  }
  .items{
    grid-template-columns: 300px 300px;
  }
  .modal{
    width: 80vw;
    left: 10vw;
  }
  .modal.secOp{
    width: 80vw;
    left: 10vw;
  }
}
@media (max-width: 740px) {
    .page-container {
        left: 0;
        right:0;
        width: 100%;
    }
    .container-title button{
      margin: 0;
    }
    .new-menu-container{
        width: 100vw;
        border-radius: 0px;
        overflow: auto;
    }
    .section-items{   
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .text-field.description textarea{
      width: 55vw;
    }
    .item-container{
        width: 400px;
    }
    .items{
      grid-template-columns: 300px 300px;
    }
    .tab-container{
        width: 340px;
    }
    .modal{
      width: 90vw;
      left: 5vw;
    }
    .modal.delete{
      width: 70vw;
      left: 15vw;
    }
} 