html, body {
    overflow: hidden;
    height: 100%;
    scrollbar-width: none;
}
/**************
containers 
***************/
.page-container{    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90vh;
    top: 0;
    left: 5vh;
    right: 5vh; 
    overflow: scroll;
    background-color: rgb(233, 235, 238);
}
.container-body{
    position: relative;   
    height: 100%;
    width: 100%; 
    top: 12vh;
    left: 0;
    margin: 10px 10px;
    border-radius: 10px 10px 0 0;
}
.container-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    font-size: 24px;
    background-color: green;
    color: white;
    width: 100%;
    top: 0;
    height: 10vh;
}
.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    height: 100vh;
    border-radius: 10px 10px 0 0;
}
.sections{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    top: 10vh;
}
.name-input{
    width: 100%;
}
/**************
*** sections 
****************/
.section-container{
    width: 100%;
}
.section-name{
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 25px;
    height: 45px;
    color:black;
    border-bottom: 2px solid black;
}
.section-description{
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 12px;
    margin-left: 40px;
}
.section-items{   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 80vw;
    margin: 5px;
    gap: 2px;
}
.section-item{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    width: 39vw;
}
/**************
*** items 
****************/
.item-container{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
}
/* item title classes */
.item-title{
    position: relative;
    display: flex;
    align-items: center;
}
.btn-icons-group.items{
    position: relative;
}
.item-description{
    font-size: 12px;
    height: 10vh;
    margin: 0 10px 0 15px;
    overflow: hidden;
}
.text-field.description textarea{
    height: 10vh;
    width: auto;
    min-width: 90%;
}
.name-price{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.item-name{
    flex: 1;
    text-align: left;
}
.text-field.item-name{}
.item-price{
    position: relative;
    right: 0;
    display: inline-block;
    margin-right: 7px;
}
.item-price.input{
    display: inline-flex;
    align-items: center;
}
/********
    item 
        addon-removes-options classes 
********/
.item-addons-removes-options{
    box-sizing: border-box;
    border: 2px solid red;
}
.item-a-r-o-titles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
}
.item-a-r-o-components{
    display: flex;
    align-items: center;
    
}
.item-addon{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
}

/***************
    Input Formatting
*****************/
.form-container{
    display: flex;
    flex-direction: column; /* Align vertically */
    gap: 16px; /* Space between fields */
    padding: 10px;
}
.container-actions{
    padding: 0 10px;
    gap: 10px;
}
.text-field{
    display: flex;
    align-items: center;
    gap: 12px;
}
.text-field input, .text-field textarea{
    padding: 0px 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    resize: none;
    background-color: white;
  }
.text-field input:focus, .text-field textarea:focus{
    outline: none;
    border-color: #1976d2;
    box-shadow: rgba(25, 118, 210, 0.5);
}
.placeholder-color{
    color: #999;
}
  /****************
    Buttons
  ****************/
  
.btn {
    display: inline-block;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
}
.btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.btn:hover {    
    background-color: #d3dce3; /* Darker Gray */
}
.btn-text:hover .tooltip{
    opacity: 1;
    visibility: visible;
}
.btn:hover .tooltip{
    opacity: 1;
    visibility: visible;
}
.btn-icons-group{
    position: absolute;
    right: 0;
    padding: 5px;
    font-size: 18px;
}
/****************
   tooltip 
 ****************/
.tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    z-index: 10;
}
/***************
    addon/remove/options
***************/


.tab-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
}
.tab-row{
    position: relative;
    display: flex;
    align-items: center;
}
.tab-name{
    display: flex;
    align-items: center;
    box-sizing: border-box;
     border: 1px solid green;
}
.tab-name input{
    box-sizing: border-box;
     border: 1px solid blue;
}
.tab-price{
    position: relative;
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
    width: 75px;
    box-sizing: border-box;
    border: 1px solid purple;
}
.option-value{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .page-container {
        left: 0;
        right:0;
    }
    .section-items{   
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        width: 100vw;
        margin: 5px;
        gap: 2px;
    }
    .section-item{
        width: 80vw;
    }
}